.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
  justify-content: center;
  padding: 20px 50px 20px 50px;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 8px 24px #0000000a;
  padding: 10px;
  gap: 5px;
  transition: transform;
  text-align: center;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.card > img {
  height: 200px;
  width: 200px;
}
